.btn-rounded {
    border-radius: 15px !important; /* Điều chỉnh độ bo tròn */
    padding: 5px 10px; /* Tùy chọn: điều chỉnh kích thước của nút */
}

.favorite_field_hidden {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

